<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ErrorIcon</key>
	<string>Icon_Error</string>
	<key>ErrorIconAlt</key>
	<string>Icon_Error_Alt</string>
	<key>Icon_L0</key>
	<string>Icon_L0</string>
	<key>IconAlt_L0</key>
	<string>Icon_L0_Alt</string>
	<key>Icon_L1</key>
	<string>Icon_L1</string>
	<key>IconAlt_L1</key>
	<string>Icon_L1_Alt</string>
	<key>Icon_L2</key>
	<string>Icon_L2</string>
	<key>IconAlt_L2</key>
	<string>Icon_L2_Alt</string>
	<key>Icon_L3</key>
	<string>Icon_L3</string>
	<key>IconAlt_L3</key>
	<string>Icon_L3_Alt</string>
	<key>Threshold_L1</key>
	<integer>50</integer>
	<key>Threshold_L2</key>
	<integer>300</integer>
	<key>Threshold_L3</key>
	<integer>1000</integer>
	<key>RadarImageTemplate</key>
	<string>ftp://ftp2.bom.gov.au/anon/gen/radar/%@.T.%@.png</string>
	<key>IntervalAfterSuccess</key>
	<integer>10</integer>
	<key>IntervalAfterFirstFailure</key>
	<integer>2</integer>
	<key>IntervalAfterSubsequentFailures</key>
	<integer>20</integer>
	<key>Locations</key>
	<dict>
		<key>Hobart</key>
		<string>IDR373</string>
		<key>Canberra</key>
		<string>IDR403</string>
		<key>Adelaide</key>
		<string>IDR643</string>
		<key>Perth</key>
		<string>IDR703</string>
		<key>Darwin</key>
		<string>IDR633</string>
		<key>Sydney</key>
		<string>IDR713</string>
		<key>Melbourne</key>
		<string>IDR023</string>
		<key>Brisbane</key>
		<string>IDR663</string>
	</dict>
	<key>Layers</key>
	<dict>
		<key>Topography</key>
		<string>%@.topography</string>
		<key>Locations</key>
		<string>%@.locations</string>
		<key>Background</key>
		<string>%@.background</string>
		<key>Downloading</key>
		<string>%@.downloading</string>
		<key>Error</key>
		<string>%@.error</string>
		<key>Welcome</key>
		<string>welcome</string>
	</dict>
</dict>
</plist>
